
{% extends "base.html" %} {% block title%} Add contact list {% endblock %}
{% block content%}
<br /><br /><br />
<div class="flex-1 items-center max-w-screen-sm mx-auto mb-3 space-y-4 sm:flex sm:space-y-0">
    <div class="relative w-full">
      <div class="items-center justify-center max-w-xl mx-auto">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
        <button class="px-6 py-2 font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-600 rounded-lg hover:bg-blue-500 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80" type="submit">
          Importuj
      </button>
      </form>
    </div>
    </div>
  </div>
  <br />
{% endblock %} 